#body{
    display: flex;
}
div#app-container{
    display: flex;
}


#main{
    width: calc(100%);
    display: flex;
    align-items: center;
    flex-direction: column;
}

#loading{
    width: calc(100%);
    display: flex;
    align-items: center;
    justify-content: center;
}

#error{
    width: calc(100%);
    display: flex;
    align-items: center;
    justify-content: center;
}