.TextBg{
    padding: 0.3rem;
    width: calc(95%);
    margin: 0 auto;
    color: var(--colorDenario);
    cursor: default;
}

.TextBg--YllVariant{
    background-color: var(--colorCuaternario);
    color: var(--colorNonario);
    border-radius: 4px;
    text-align: center;
}