/* CONTAINER */
.labelContainer{
    font-size: var(--letraEstandar);
    display: flex;
    justify-content: center;
    width: 60vw;
}
.cont{
    padding: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
}

/* LABEL */
.cont__labelDatos{
    width: 250px;
    color: var(--colorSecundario);
    
}

/* button */
.labelD{
    height: 44px;
    width: 500px;
    background: var(--colorOctonario);
    border: none;
    border-radius: 10px;
    padding: 10px;
    color: black;
    cursor: default;
    transition: 0.5s;
}

.labelD:hover{
    scale: 1.1;
    border: 1px solid var(--colorSecundario);
}