/* CONTAINER */
.labelContainer{
    font-size: var(--letraEstandar);
}
.cont{
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* LABEL */
.cont__labelDatos{
    color: var(--colorSecundario);
}

/* button */
.labelD{
    height: 44px;
    width: 250px;
    background: var(--colorOctonario);
    border: none;
    border-radius: 10px;
    padding: 10px;
}