

.aside{
  background-color: var(--colorTerciario);
  width: calc(25%);
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sectionCont__ImageCont{
  display: flex;
  align-items: center;
  justify-content: center;
}
.sectionCont__linksBtnContainer{
  display: flex;
  flex-direction: column;
  width: calc(100%);
}

.aside__sectionCont{
  display: flex;
  flex-direction: column;
  width: calc(100%);
  margin-top: 3rem;
}

.aside__sectionCont > p{
  text-align: center;
}

.aside__sectionCont--SpaceBetween{
  height: calc(100%);
  display: flex;
  justify-content: space-between;
}


.ImageCont__Logo{
  width: 8rem;
  margin: auto;
}

