@import url(../globalConfig.css);


.primary-table{
    width: calc(100%);

    margin: 1rem 0;
    border-collapse: collapse;
}

.Table__TableHead{
    background-color: var(--colorSecundario);
    color: var(--colorDenario);
}

.TableHeadRow__RowItem{
    padding: 0.5rem 1rem;
}

.TableBodyRow__RowItem{
    padding: 6px;
    text-align: center;
}

.primary-table > tbody > tr{
    height: 3rem;
    border-bottom: 1px solid #1a1a1a;
}



