@import url(../globalConfig.css);


.Table{
    width: calc(90%);
    margin: auto 0;
    border-collapse: collapse;
}

.Table__TableHead{
    background-color: var(--colorSecundario); 
    color: var(--colorDenario);
}

.TableHeadRow__RowItem{
    padding: 0.5rem 1rem;
}

.TableBodyRow__RowItem{
    padding: 1px;
}

