@import url(../src/styles/globalConfig.css);

/* Ajustes generales */
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: linear-gradient(to right, var(--colorTerciario) 50%, var(--colorDenario) 50%);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.LoginSection {
  width: 100%;
  max-width: 1200px;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contenedor {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 80vw; /* Ajusta según sea necesario */
  max-width: 800px;
  height: 70vh;
  box-shadow: 1px 1px 100px black;
  overflow: hidden; /* Para evitar desbordamiento */
}

.section__figure {
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--colorTerciario); /* Opcional para mantener consistencia de diseño */
}

.figure {
  padding: 10px;
}

.imgLogo {
  width: 150px;
  height: 150px;
}

.FormSection {
  background: var(--colorDenario);
  color: var(--colorSecundario);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  gap: 20px;
}

.subtituloLogin {
  font-size: var(--subTitulo);
  padding: 0 20px;
  text-align: center;
}

.formularioLogin {
  width: 100%; /* Asegura que ocupe todo el ancho del contenedor */
  display: flex;
  flex-direction: column;
  align-items: stretch; /* Asegura que los elementos ocupen el ancho disponible */
  gap: 15px;
}

.formularioSelect {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  gap: 10px;
}

.inputContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}

.inputContainer input {
  width: 100%; /* Ajusta la entrada para que ocupe todo el ancho disponible */
  padding: 10px;
  border-radius: 5px;
  border: 1px solid var(--colorPrimario);
}

.selectOption {
  height: 44px;
  border-radius: 8px;
  width: auto;
  background: var(--colorPrimario);
  color: var(--colorDenario);
  border: none;
  padding: 0 10px;
}

.PrimaryButton {
  width: 100%;
  padding: 15px;
  border: none;
  background: var(--colorPrimario);
  color: var(--colorDenario);
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.3s;
}

.PrimaryButton:hover {
  background: var(--colorSecundario); /* Efecto hover */
}



