@import url(../src/styles/globalConfig.css);

body{
  background: linear-gradient(to right,  var(--colorTerciario) 50%, var(--colorDenario) 50%);
  display: flex;
  align-items: center;
  justify-content: center;
}

.contenedor{
  display: flex;
  /* justify-content: space-around; */
  width: 50vw;
  height: 65vh;
  box-shadow: 1px 1px 100px black;
}

.section__figure{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
}

.figure{
  padding: 10px;
}

.imgLogo{
  width: 25 0px;
  height: 25 0px;
}

.sectionLogin{
  background: var(colorDenario);
  color: var(--colorSecundario);
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 30px;
}


.subtituloLogin{
  font-size: var(--subTitulo);
  padding: 0px 50px;
  text-align: center;
}

.formularioLogin{
  font-size: var(--letraEstandar);
  width: calc(100%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
}

.formularioSelect{
  display: flex;
  align-items: end;
  /* justify-content: center; */
  padding: 21px;
  gap: 10px;
}

.selectOption {
  height: 44px;
  border-radius: 8px;
  width: 120px;
  display: flex;
  align-self: flex-end;
  background: var(--colorPrimario);
  color: var(--colorDenario);
  border: none;
  padding: 0px 5px;
  
}

.inputContainer{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.selectOption option{
  background: var(--colorQuinario);
  color: var(--colorDenario);
}

.selectOption option:checked{
  background: var(--colorPrimario);
}


